.show {
  background-color: blue;
  color: white;
}

.removebackground {
  background-color: white;
}

#board {
  margin-top: 10px;
}

.height {
  min-height: 150px;
}

.hidden{
  visibility: hidden;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 100px;
  text-align: center;
  background-color: white;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover {
  background-color: lightgray;
}

.playedO {
  background-color: lightgreen;
}

.playedX {
  background-color: lightblue;
}

.playedgreen {
  background-color: lightgreen;
}

.playedblue {
  background-color: lightblue;
}

.playedOblue {
  background-color: lightgreen;
}

.playedXgreen {
  background-color: lightblue;
}

.playedpink {
  background-color: pink;
}

.playedOpink {
  background-color: pink;
}

.playedred {
  background-color: red;
}

.playedOred {
  background-color: red;
}

.btn {
  margin-top: 10px;
}

body {
  background-color: rgba(164, 184, 216, .25);
}
