.show {
  background-color: blue;
  color: white;
}

.removebackground {
  background-color: white;
}

#board {
  margin-top: 10px;
}

.height {
  min-height: 150px;
}

.hidden{
  visibility: hidden;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 100px;
  text-align: center;
  background-color: white;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover {
  background-color: lightgray;
}

.playedgreen {
  background-color: lightgreen;
}

.playedblue {
  background-color: lightblue;
}

.playedpink {
  background-color: pink;
}

.playedred {
  background-color: rgba(255,0,0,.7);
}

.btn {
  margin-top: 10px;
}

body .modal-backdrop {
  background-color: rgba(164, 184, 216, .25);
}
